version: "1.0"
info:
  model: int-scaffold
packages:
- name: NL_MIHE_OrderManagementProject
  gitServerName: NL_MIHE_GITHUB
  gitUrl: https://github.com/elpinjo
  gitUsername: elpinjo
  gitBranch: main
- name: OrderEntry
  version: 2.3.0
  gitServerName: NL_MIHE_GITHUB
  gitUrl: https://github.com/elpinjo
  gitUsername: elpinjo
  gitBranch: master
services:
- serviceName: project.nl_mihe_ordermanagement.integrations:GetOrdersDemo
  packages:
  - name: NL_MIHE_OrderManagementProject
    version: "1.0"
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: orderentry.service:getOrders
  packages:
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: orderentry.adapter:getOrderList
  packages:
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: project.nl_mihe_ordermanagement.integrations:InsertOrder
  packages:
  - name: NL_MIHE_OrderManagementProject
    version: "1.0"
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: orderentry.service:insertOrder
  packages:
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: pub.flow:setCustomContextID
  packages:
  - name: WmPublic
    version: 11.1.0.0.2097
- serviceName: orderentry.adapter:createOrder
  packages:
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: orderentry.adapter:insertLineItems
  packages:
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
- serviceName: project.nl_mihe_ordermanagement.integrations:getOrders
  packages:
  - name: NL_MIHE_OrderManagementProject
    version: "1.0"
  - name: OrderEntry
    version: 2.3.0
  - name: WmJDBCAdapter
    version: 10.3.0.0.34
    wpmServer: https://packages.webmethods.io
    wpmRegistry: licensed
configurationVariables:
  jdbc.O2C_DB_CONN.maxConns: "10"
  jdbc.O2C_DB_CONN.expireTime: "60000"
  jdbc.O2C_DB_CONN.description: This connection is for getting customer data based
    on the O2C project
  jdbc.O2C_DB_CONN.waitingThread: "0"
  jdbc.O2C_DB_CONN.userid: aaidadbs3user
  jdbc.O2C_DB_CONN.snoopenabled: "false"
  jdbc.O2C_DB_CONN.dbURL: jdbc:wm:postgresql://169.51.141.229:5432;DatabaseName=aaidadbs3
  jdbc.O2C_DB_CONN.minConns: "0"
  jdbc.O2C_DB_CONN.spyenabled: "false"
  jdbc.O2C_DB_CONN.snoopparms: "ddtdbg.ProtocolTraceEnable=true;ddtdbg.ProtocolTraceMaxline=16;ddtdbg.ProtocolTraceLocation=logs/snoop/[object\
    \ Object].log;ddtdbg.ProtocolTraceShowTime=true"
  jdbc.O2C_DB_CONN.spyparms: "SpyAttributes=(log=(file)logs/spy/[object Object].log;logTName=yes;timestamp=yes)"
  jdbc.O2C_DB_CONN.poolThreshold: "0"
  jdbc.O2C_DB_CONN.useSSL: "false"
  jdbc.O2C_DB_CONN.password: "{AES}jmqLB/WxtoLGSxa3UBUaTA=="
  jdbc.O2C_DB_CONN.driverAlias: DataDirect Connect JDBC PostgreSQL Driver
